<div class="flex justify-center items-center h-[100vh] bg-[#27260f]">
  <div class="p-20 pb-10 border-2 border-teal-500 rounded-2xl bg-[#fffeef] relative" id="container">
    <div class="absolute top-10 left-10 flex flex-col gap-[1px]">
      <div class="font-bold text-2xl w-7 text-center cursor-pointer text-{{point.color}}"
            [ngClass]="{'underline': team.color === point.color}"
            *ngFor="let point of point"
            (click)="team = point"
      >
        {{point.point}}
      </div>
    </div>
    <div class="absolute top-10 right-10">
      <select #select class="form-select" aria-label="Default select example" (change)="chon_chu_de(select.value)">
        <option value="game" selected>Trò chơi</option>
        <option value="feeling">Cảm xúc</option>
        <option value="music">Âm nhạc</option>
        <option value="fruit">Hoa quả</option>
      </select>
    </div>
    <app-gallows [errCount]="errCount"></app-gallows>
    <div>
      <div class="flex items-center justify-center gap-4 flex-col">
        <div class="flex items-center justify-center gap-1">
          <span *ngFor="let key of word" class="font-bold text-3xl"
                [ngClass]="{'px-2': key === ' '}"
          >{{key | uppercase}}</span>
        </div>
        <div *ngIf="!word.includes('_') || errCount === 8" [innerText]="wordSelect.vi"
             class="w-full max-w-[300px] whitespace-normal"
        ></div>
        <input #input (input)="inputValidate(input)"
               (keyup.enter)="input.value.length === wordSelect.en.length ? check(input.value, true) : ''"
               [disabled]="errCount === 8 || !word.includes('_')"
               [maxLength]="wordSelect.en.length"
               class="border w-full"
               type="text"
        >

        <div class="grid grid-cols-7 gap-x-3 gap-y-2">
          <div
            (click)="(failKey.includes(key) || correctKey.includes(key)) || errCount === 8 || !word.includes('_') ? '' : check(key.toUpperCase())"
            *ngFor="let key of alphabet"
            [ngClass]="{
            'text-lime-500 !cursor-not-allowed border-2 border-lime-500  rounded-full': correctKey.includes(key),
            'text-rose-700 !cursor-not-allowed line-through': failKey.includes(key),
            '!cursor-not-allowed': errCount === 8 || !word.includes('_'),
            }"
            class="select-none font-semibold w-7 h-7 text-center cursor-pointer">
            {{key}}
          </div>
        </div>

        <div>
          <button (click)="word.includes('_') && errCount < 8 ? showWord() : selectWord()"
                  class="btn btn-primary text-[#007bff] hover:text-[#fffeef]"
                  type="submit"
                  [disabled]="input.value && word.includes('_') || !words.length"
          >{{word.includes('_') && errCount < 8 ? 'Đáp án' : 'Tiếp theo'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
